<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="SPZXOrder.Mapper.SysRoleMapper">

    <resultMap id="sysRoleMap" type="com.atguigu.spzx.model.entity.system.SysRole" autoMapping="true">

    </resultMap>
    <insert id="saveSysRole">
        insert into sys_role (
            id,
            role_name,
            role_code,
            description
        ) values (
                     #{id},
                     #{roleName},
                     #{roleCode},
                     #{description}
                 )
    </insert>
    <update id="updatesysRole">
        update sys_role set
        <if test="roleName != null and roleName != ''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode != ''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>
    <update id="DeleteSysRole">
        update sys_role
        set is_deleted=1
        where id=#{sysRoleid}
    </update>


    <select id="findByPage" resultMap="sysRoleMap">
        select  id,role_name,role_code,description,create_time,update_time,is_deleted
        from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like CONCAT('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>


    <!-- 查询所有的角色数据 -->
        <select id="findall" resultMap="sysRoleMap">
            select *
            from sys_role where is_deleted = 0
        </select>

</mapper>

