<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="spzxproduct.Mapper.ProductMapper">

    <sql id="columns">
        id,name,brand_id,category1_id,category2_id,category3_id,unit_name,slider_urls,spec_value,status,audit_status,audit_message,create_time,update_time,is_deleted
    </sql>

<!--    //根据skuid获取product对象-->
    <select id="findById" resultType="com.atguigu.spzx.model.entity.product.Product">
        select <include refid="columns" />
        from product
        where
        id = #{id}
    </select>
</mapper>

        <!--文件名要与java包中全类名文件名一样否则程序会找不到-->