<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="SPZXUser.Mapper.UserAddressMapper">


    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,user_id,name,phone,tag_name,province_code,city_code,district_code,address,full_address,is_default,create_time,update_time,is_deleted
    </sql>
    <!--    //查询用户地址列表-->
    <select id="findByUserId" resultType="com.atguigu.spzx.model.entity.user.UserAddress">
        select
        <include refid="columns"/>
        from user_address
        where
        user_id = #{userId}
    </select>

    <!--    //根据用户id查询收货信息-->
    <select id="getUserAddress" resultType="com.atguigu.spzx.model.entity.user.UserAddress">
        select
        <include refid="columns"/>
        from user_address
        where
        id = #{id}
    </select>
</mapper>

        <!--文件名要与java包中全类名文件名一样否则程序会找不到-->