<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="SPZX.Mapper.SysRoleUserMapper">
    <insert id="dodoAssign">
            insert into sys_user_role(user_id , role_id , create_time , update_time , is_deleted)
            values ( #{userId} , #{s} , now() , now() , 0)
    </insert>

    <delete id="deleteByUserId">
      delete from  sys_user_role
      where user_id=#{userId}
    </delete>
    <select id="findSysUserRoleByUserId" resultType="java.lang.Long">
        select role_id from sys_user_role sur where sur.user_id = #{userId}
    </select>
</mapper>
