<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="SPZX.Mapper.ProductUnitMapper">

    <sql id="columns">
        id,name,create_time,update_time,is_deleted
    </sql>

    <select id="findAll" resultType="com.atguigu.spzx.model.entity.base.ProductUnit">
        select <include refid="columns" />
        from product_unit
        where is_deleted = 0
        order by id
    </select>

</mapper>

        <!--文件名要与java包中全类名文件名一样否则程序会找不到-->